*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#Htitle{
    background-color: lightgray;
    display: flex;
    border: 1px solid black;
    height: 8rem;
    justify-content: center;
    align-items: center;
}

#catcontent{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

#formsec{
    width: 20rem;
    
}

#cardcontent{
    display: flex;
    justify-content: space-around;
    
}