*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#Htitle{
    background-color: lightgray;
    display: flex;
    border: 1px solid black;
    height: 8rem;
    justify-content: center;
    align-items: center;
}

#catcontent{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    flex-wrap: wrap;
}

#formsec{
    width: 20rem;
    
}

#cardcontent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}
#social{
    display: flex;
    margin-top: 0.5rem;
    gap: 2rem;
}
